<template>
  <nav class="navbar orange lighten-1">
    <div class="nav-wrapper">
      <div class="navbar-left">
        <a href="#" @click.prevent="$emit('click')">
          <i class="material-icons black-text">dehaze</i>
        </a>
        <span class="black-text">{{ moment.lang("de").format('LLL') }}</span>
      </div>

      <ul class="right hide-on-small-and-down">
        <li>
          <a 
          class="dropdown-trigger black-text" 
          href="#" 
          data-target="dropdown"
          ref="dropdown" >
           <span v-if="name">{{ 'Hello' | localize}}{{name}}</span>
            <i class="material-icons right">arrow_drop_down</i>
          </a>

          <ul id="dropdown" class="dropdown-content">
            <li>
              <router-link to='/profile' class="black-text">
                <i class="material-icons">account_circle</i>{{ 'ProfileTitle' | localize}}
              </router-link>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <a href='#' class="black-text" @click.prevent='logout'>
                <i class="material-icons">assignment_return</i>{{ 'Logout' | localize}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import M from 'materialize-css'
import moment from 'moment'

export default {
  data: () => ({
    moment: moment()
  }),
  methods: {
    async logout(){
      await this.$store.dispatch('logout')
      this.$router.push('/login?message=logout')
    },

  },
  computed: {
    name() {
      return this.$store.getters.info.name
    }
  },
  mounted(){
   setInterval(() => {
     this.moment = moment()
   }, 1000)
    M.Dropdown.init(this.$refs.dropdown, {
      constrainWidth: true
    })
  }
}
</script>
