<template>
  <div>
    <div class="page-title">
      <h3>{{'Categories'| localize}}</h3>
    </div>
    <section>
      <Loader v-if="loading" />
      <div class="row" v-else>
        <CategoryCreate @created="addNewCategory"  />
        <CategoryEdit
        :categories="categories" 
        :key='categories.length + updateCount'
        v-if='categories.length'
        @updated='updateCategories'
        />
        <CategoryDelete 
        :categories="categories" 
        v-if='categories.length'
        :key='deleteKey'
        @deleted='deleteCategories'
        />
       
        <p v-else class='center'>{{'Message_Cat'| localize}}</p>
      </div>
    </section>
  </div>
</template>

<script>
import CategoryCreate from "@/components/CategoryCreate";
import CategoryEdit from "@/components/CategoryEdit";
import Loader from "@/components/app/Loader";
import CategoryDelete from '@/components/CategoryDelete'

export default {
  name: "categories",
  metaInfo() {
    return {
      title: this.$title('Menu_Categories') 
    } 
  },
  data: () => ({
    categories: [],
    category: null,
    loading: true,
    updateCount: 0,
    deleteKey: (new Date()).getTime()
  }),
//wir bekommen die daten von firebase und legen das in categories
  async mounted() {
    this.categories = await this.$store.dispatch("fetchCategories");
    this.loading = false;
  },
  components: {
    CategoryCreate,
    CategoryEdit,
    Loader,
    CategoryDelete
  },
  methods: {
    addNewCategory(category) {
      this.categories.push(category);
    },
    updateCategories(category){
      //um selectfeld update
      const idx = this.categories.findIndex(c => c.id === category.id)
      this.categories[idx].title = category.title 
      this.categories[idx].limit = category.limit
      this.updateCount++
    },
    deleteCategories(category){
      const idx = this.categories.findIndex(c => c.id === category.id)
     
      this.categories[idx].title = category.title 
      this.categories[idx].limit = category.limit
      this.updateCount++
      this.categories.splice(idx, 1)
    },
  },
};
</script>
