<template>
  <div>
    <Loader v-if="loading" />
    <div v-else-if='record'>
      <div class="breadcrumb-wrap">
        <router-link to="/history" class="breadcrumb">{{'Menu_Details' | localize }}</router-link>
        <a @click.prevent class="breadcrumb">
          {{record.typeText}}
        </a>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div 
          :class="[record.typeClass]"
          class="card">
            <div class="card-content white-text">
              <p><strong>{{"Description" | localize }}:</strong> {{record.description}}</p>
              <p><strong>{{'Amount'| localize}}:</strong> {{record.amount | currency}}</p>
              <p><strong>{{'Category'| localize}}:</strong> {{record.categoryName}} </p>

              <small>{{record.date | date('datetime')}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class='center' v-else>{{'Message_IdNotExist'| localize($route.params.id)}}</p>
  </div>
</template>

<script>

export default {
  name: 'detail',
  metaInfo() {
    return {
      title: this.$title('Menu_Details') 
    } 
  },
  data: () => ({
    record: null,
    loading: true
  }),
  async mounted() {
    //id bekommt man aus Link
    const id = this.$route.params.id
    const record = await this.$store.dispatch('fetchRecordById', id)
    const category = await this.$store.dispatch('fetchCategoryById', record.categoryId)
    
    this.record = {
      ...record,
      categoryName: typeof category.title === 'undefined' ? `Category ${record.titleOfCategory} has been removed` : category.title,
      typeText: record.type === 'income' ? 'Income' : 'Expense',
      typeClass: typeof category.title === 'undefined' ? 'black': record.type === 'income' ? 'green': 'red',
    }
   
    this.loading = false

  }
}
</script>
