<template>
  <div>
    <div class="page-title">
      <h3>{{'Menu_History' | localize}}</h3>
    </div>
   
    <div class="history-chart">
    <canvas ref="canvas"></canvas>
  </div> 
  <Loader v-if="loading" />
    <p class="center" v-else-if="!records.length">
      {{'Message_Records'| localize}}
      <router-link to="/record">{{'LinkToRouter'| localize}}</router-link>
    </p>
    <section v-else>
      <HistoryTable :records="items" :page="page" :page-size="pageSize" />
      <Paginate
        v-model="page"
        :page-count="pageCount"
        :click-handler="pageChangeHandler"
        :prev-text="'<<'"
        :next-text="'>>'"
        :container-class="'pagination '"
        :page-class="'waves-effect'"
        :active-class="'orange'"
      />
    </section>
  </div>
</template>

<script>
import HistoryTable from "../components/HistoryTable.vue";
import paginationMixin from "../mixins/pagination.mixin";
import { Pie } from "vue-chartjs";
import localizeFilter from '@/filters/localize.filter'
export default {
  name: "history",
  extends: Pie,
  mixins: [paginationMixin],
  components: {
    HistoryTable,
  },
  metaInfo() {
    return {
      title: this.$title('Menu_History') 
    } 
  },
  data: () => ({
    records: [],
    loading: true,
  }),
  async mounted() {
    const categories = await this.$store.dispatch("fetchCategories");
    this.records = await this.$store.dispatch("fetchRecords");
    this.setup(categories)
    this.loading = false;
  },
  methods: {
    setup(categories) {
      this.setUpPagination(
        this.records.map((record) => {
          const categoryObj = categories.find(
            (c) => c.id === record.categoryId
          );
          return {
            ...record,
            categoryName:
              typeof categoryObj == "undefined"
                ? `Category ${record.titleOfCategory}  has been removed`
                : categoryObj.title,
            //  categoryName: typeof categoryTitle.title,
            typeClass:
              typeof categoryObj == "undefined"
                ? "black"
                : record.type === "income"
                ? "green"
                : "red",
            typeText: record.type === "income" ? localizeFilter("Income") : localizeFilter("Outcome"),
          };
        })
      );
      this.renderChart({
        labels: categories.map(c => c.title),
        datasets: [{
            label: 'Expense of categories',
            data: categories.map(c => {
              return this.records.reduce((total, r) => {
                if(r.categoryId === c.id && r.type == 'outcome'){
                  total += +r.amount
                }
                return total
              }, 0)
            }),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },)
    },
  },
};
</script>

