<template>
  <div class="home">
    <div>
  <div class="page-title">
    <h3>{{'Menu_Account' | localize}}</h3>

    <button class="btn waves-effect waves-light btn-small"
    @click='refresh'>
      <i class="material-icons">refresh</i>
    </button>
  </div>
  <Loader v-if='loading' />

  <div v-else class="row">

    <div v-if="name">    
    <HomeBill
    :rates='currency.rates' />
    </div>
    <HomeCurrency
    :rates='currency.rates'
    :date='currency.date' />
  </div>
</div>
  </div>
</template>

<script>
import HomeBill from '@/components/HomeBill'
import HomeCurrency from '@/components/HomeCurrency'

export default {
  name: 'Home',
  metaInfo() {
    return {
      title: this.$title('Menu_Account') 
    } 
  },
  data: () => ({
    loading: true,
    currency: null,
  }),
  computed: {
    name() {
      return this.$store.getters.info.name
    }
  },
  async mounted() {
    this.currency = await this.$store.dispatch('fetchCurrency')
     this.loading = false
  },
  methods: {
   async refresh() {
      this.loading = true
      this.currency = await this.$store.dispatch('fetchCurrency')
     
      this.loading = false
    },
  },
  components: {
    HomeBill, HomeCurrency
  }

}
</script>
