<template>
<form class="card auth-card" @submit.prevent="submitHandler">
  <div class="card-content">
    <span class="card-title">{{'Home_accounting'| localize }}</span>
    <div class="input-field">
      <input
          id="email"
          type="text"
          v-model.trim="email"
          :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
      >
      <label for="email">Email</label>
       <small class="helper-text invalid"
        v-if='$v.email.$dirty && !$v.email.required'>
        {{'Mes_Enry_Mail'| localize }}</small>
         <small class="helper-text invalid"
        v-else-if='$v.email.$dirty && !$v.email.email'>
         {{'Mes_Invalid_Mail'| localize }}</small>
    </div>
    <div class="input-field">
      <input
          id="password"
          type="password"
          v-model="password" 
        :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}" />
      
      <label for="password">{{'Password'| localize }}</label>
      <small class="helper-text invalid"
        v-if='$v.password.$dirty && !$v.password.required'>Please entry your password</small>
        <small class="helper-text invalid"
        v-else-if='$v.password.$dirty && !$v.password.minLength'>Your password should have more than {{$v.password.$params.minLength.min}} symbol</small>
    </div>
    <div class="input-field">
      <input
          id="name"
          type="text"
          v-model="name"
          :class="{invalid: ($v.name.$dirty && !$v.name.required) || ($v.name.$dirty && !$v.name.minLength)}" />
      
      <label for="name">{{'Name'| localize }}</label>
        <small class="helper-text invalid"
        v-if='$v.name.$dirty && !$v.name.required'>{{'Message_EnterName'| localize}}</small>
        <small class="helper-text invalid"
        v-else-if='$v.name.$dirty && !$v.name.minLength'>{{'Message_minLength'| localize($v.name.$params.minLength.min)}}</small>
    </div>
    <p>
      <label>
        <input type="checkbox"  
        v-model="terms" 
        :class="{invalid: $v.terms.$invalid}" />
        <span>{{'Agree'| localize }}</span>
        <br>
        <small class="helper-text invalid"
        v-if='$v.terms.$dirty && !$v.terms.checked'>{{'Please_Agree'| localize }}</small>
      </label>
    </p>
  </div>
  <div class="card-action">
    <div>
      <button
          class="btn waves-effect waves-light auth-submit"
          type="submit"
      >
        {{'SignUp'| localize }}
        <i class="material-icons right">send</i>
      </button>
    </div>

    <p class="center">
      {{'Already'| localize }}
      <router-link to="/login"> {{'Login'| localize }}</router-link>
    </p>
  </div>
</form>
</template>

<script>
import {email, required, minLength} from 'vuelidate/lib/validators'

export default {
  name: 'register',
  metaInfo() {
    return {
      title: this.$title('SignUp') 
    } 
  },
  data: () => ({
    email: '',
    password: '',
    name: '',
    terms: false
  }),
  validations: {
    email: {email, required},
    password: {required, minLength: minLength(6)},
    name: {required, minLength: minLength(4)},
    terms: {checked: v => v}
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      const formData = {
        email: this.email,
        password: this.password,
        name: this.name,
        
      }
      try {
        await this.$store.dispatch('register', formData)
        this.$router.push('/')
      } catch (e) {console.log(e)}
    }
  }
}
</script>

