<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>{{'Create'| localize}}</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <input id="name" type="text"
          v-model="title"
          :class="{invalid: $v.title.$dirty && !$v.title.required}" />
          <label for="name">{{'NamOfCat' | localize}}</label>
          <span class="helper-text invalid"
          v-if="$v.title.$dirty && !$v.title.required">{{'EntNameOfCat' | localize}}</span>
        </div>

        <div class="input-field">
          <input id="limit" type="number"
          v-model.number="limit" 
          :class="{invalid: ($v.limit.$dirty && !$v.limit.minValue) || ($v.limit.$dirty && !$v.limit.required) }"/>
          <label for="limit">Limit</label>
          <span class="helper-text invalid"
          v-if="$v.limit.$dirty && !$v.limit.minValue">{{'MinVal' | localize($v.limit.$params.minValue.min)}}</span>
          <span class="helper-text invalid"
          v-if="$v.limit.$dirty && !$v.limit.required">{{'EntLimit' | localize}}{{title}} </span>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
          {{'Create'| localize}}
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import {required, minValue} from 'vuelidate/lib/validators'
import M from 'materialize-css'
export default {

data: () => ({
  title: '',
  limit: 10
}),
validations: {
  title: {required},
  limit: {required, minValue: minValue(10)}
},
mounted() {
  M.updateTextFields()
},
methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      try {
        const category = await this.$store.dispatch('createCategory', {
          title: this.title,
          limit: this.limit
        })
        this.title = ''
        this.limit = 10
        this.$v.$reset()
        this.$message('Categorie was successfully created')
        this.$emit('created', category)
      } catch (e) {console.log('error')}
    }
}
};
</script>
