<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>{{'Delete'| localize}}</h4>
      </div>

      <form @submit.prevent="deleteHandler">
        <div class="input-field">
          <select ref="select" v-model="current">
            <option
              v-for="c of categories"
              :key="c.id"
              :value="c.id"
              :id="c.id"
            >
              {{ c.title }}
            </option>
          </select>
          <label>{{'SelCat'| localize}}</label>
        </div>

        <button class="btn waves-effect waves-light red" type="submit">
          {{'Delete'| localize}}
          <i class="material-icons right">delete_forever</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";

export default {
  props: {
    categories: {
      type: Array,
    },
  },
  data: () => ({
    select: null,
    current: null,
    title: "",
  }),
  watch: {
    current(catId) {
     const {title, limit} = this.categories.find(c => c.id === catId)
     this.title = title
    this.limit = limit
    }
  },
  created() {
    const { id, title } = this.categories[0];
    this.current = id;
    this.title = title;
  },
  methods: {
    async deleteHandler() {
      if (confirm("Are you sure?")) {
        try {
          const categoryData = {
            id: this.current,
            title: null,
            limit: null,
          };
          await this.$store.dispatch("deleteCategory", categoryData);
          this.$message(`${this.title} was successfully delete`);

          this.$emit("deleted", categoryData);
        } catch (e) {
          console.log("error delete");
        }
      }
    },
  },

  mounted() {
    this.select = M.FormSelect.init(this.$refs.select);
    M.updateTextFields();
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy();
    }
  },
};
</script>

