<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>{{'Edit'| localize}}</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <select ref="select" v-model="current">
            <option
              v-for="c of categories"
              :key="c.id"
              :value="c.id"
            >{{c.title}}</option>
          </select>
          <label>{{'SelCat'| localize}}</label>
        </div>

        <div class="input-field">
          <input
            id="name"
            type="text"
            v-model="title"
            :class="{ invalid: $v.title.$dirty && !$v.title.required }"
          />
          <label for="name">{{'NamOfCat'| localize}}</label>
          <span
            class="helper-text invalid"
            v-if="$v.title.$dirty && !$v.title.required"
            >{{'EntNameOfCat'| localize}}</span
          >
        </div>

        <div class="input-field">
          <input
            id="limit"
            type="number"
            v-model.number="limit"
            :class="{
              invalid:
                ($v.limit.$dirty && !$v.limit.minValue) ||
                ($v.limit.$dirty && !$v.limit.required),
            }"
          />
          <label for="limit">Limit</label>
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && !$v.limit.minValue"
            >{{'MinVal'| localize}}
            {{ $v.limit.$params.minValue.min }}</span
          >
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && !$v.limit.required"
            >{{'EntLimit'| localize(title)}}</span
          >
        </div>

        <button
          class="btn waves-effect waves-light"
          type="submit">
          {{'Update'| localize}}
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
// import {required, } from 'vuelidate/lib/validators'
import M from "materialize-css";
import { required, minValue } from "vuelidate/lib/validators";
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    select: null,
    title: "",
    limit: 10,
    current: null
  }),
  validations: {
    title: { required },
    limit: { required, minValue: minValue(10) },
  },
  //zeigt in input felder die ausgewählte category, dynamisch
  watch: {
    current(catId) {
     const {title, limit} = this.categories.find(c => c.id === catId)
     this.title = title
    this.limit = limit
    }
  },
  //zeigt in input felder category mit index 0
  created() {
    const {id, title, limit} = this.categories[0]
    this.current = id
    this.title = title
    this.limit = limit
  },
  methods: {
    async submitHandler() {
      if(this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        const categoryData = {
          id: this.current,
          title: this.title,
          limit: this.limit
        }
        await this.$store.dispatch('updateCategory', categoryData)
        this.$message('Categorie was successfully updated')
        //nachdem man update, ähndern sich in selectfeld
        this.$emit('updated', categoryData)
      } catch(e){
        console.log('error')
      }
    },
  },
 
  mounted() {
    //im select werden alle categorien angezeigt, ref=select 
    this.select = M.FormSelect.init(this.$refs.select);
    M.updateTextFields();
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy();
    }
  },
};
</script>

