<template>
  <sorted-table :values="records">
    <thead>
      <tr>
        <th>#</th>
        <th><sort-link name="amount">{{'Amount' | localize}}</sort-link></th>
        <th><sort-link name="date">{{'Date' | localize}}</sort-link></th>
        <th><sort-link name="categoryName">{{'Category' | localize}}</sort-link></th>
        <th>Typ</th>
        <th>{{'Open'| localize}}</th>
      </tr>
    </thead>
    <template #body="sort">
      <tbody>
        <tr v-for="(record, idx) of sort.values" :key="record.id">
          <td>{{ idx + 1 + (page - 1) * pageSize }}</td>
          <td>{{ record.amount | currency("EUR") }}</td>
          <td>{{ record.date | date("datetime") }}</td>
          <td>{{ record.categoryName }}</td>
          <td>
            <span :class="[record.typeClass]" class="white-text badge">{{
              record.typeText
            }}</span>
          </td>
          <td>
            <button
              v-tooltip="'Open record'"
              class="btn-small btn"
              @click="$router.push('/detail/' + record.id)"
            >
              <i class="material-icons">open_in_new</i>
            </button>
          </td>
          <td>
            <button
              v-tooltip="'Delete record'"
              class="btn waves-effect waves-light red"
              :id="record.id"
              @click.prevent="deleteRecord($event, idx)"
            >
              <i class="material-icons">delete_forever</i>
            </button>
          </td>
        </tr>
      </tbody>
    </template>
  </sorted-table>
</template>

<script>
import localizeFilter from '@/filters/localize.filter'
export default {
  props: {
    records: {
      required: true,
      type: Array,
    },
    page: {
      type: Number,
    },
    pageSize: {
      type: Number,
    },
  },
  data: () => ({
    record: null,
  }),
  methods: {
    async deleteRecord(event) {
      if (confirm(localizeFilter("Question"))) {
        try {
          const id = event.currentTarget.id;
          const idx = this.records.findIndex(rec => rec.id === id);
          //console.log(idx)
          await this.$store.dispatch("deleteRecord", id);

          this.$message(localizeFilter("CatDelete"));
          setTimeout(() => {
            this.records.splice(idx, 1);
          }, 100);
        } catch (e) {
          console.log("error historytable");
        }
      }
    },
  },
};
</script>
