<template>
  <div class="col s12 m6 l8">
    <div class="card orange darken-3 bill-card">
      <div class="card-content white-text">
        <div class="card-header">
          <span class="card-title">{{'CurEx'| localize}}</span>
        </div>
        <table>
          <thead>
            <tr >
              <th>{{'Currency'| localize}}</th>
              <th>{{'Exchange'| localize}}</th>
              <th>{{'Date'| localize}}</th>
            </tr>
          </thead>

          <tbody>
            <tr 
            v-for='cur in currencies'
            :key='cur'>
              <th>{{cur}}</th>
              <th>{{rates[cur].toFixed(5)}}</th>
              <th>{{date | date('date')}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['rates', 'date'],
  data: () => ({
    currencies: ['EUR','USD', 'CHF']
  })
}
</script>
