<template>
  <div class="col s12 m6 l4">
    <div class="card light-blue bill-card">
      <div class="card-content white-text">
        <span class="card-title">{{'CurrencyAccount'| localize}}</span>

        <p 
        v-for='cur of currencies'
        :key='cur'
        class="currency-line">
          <span>
            {{getCurrency(cur) | currency(cur)}}
          </span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['rates'],
  data: () => ({
    currencies: ['EUR','USD', 'CHF',  ]
  }),
  computed: {
    base() {
      return this.$store.getters.info.bill
      // return this.$store.getters.info.bill / (this.rates['USD'] / this.rates['EUR']) //if we wont USD to base
    },
    
  },
  methods: {
    getCurrency(currency) {
      return Math.floor(this.base * this.rates[currency])
    }
  }
}
</script>
