<template>
<div>
<Loader v-if='loading' />

  <div v-else class="app-main-layout">
   <Navbar @click="isOpen = !isOpen" />
   <Sidebar v-model="isOpen" 
   :key="locale" />

    <main class="app-content" :class='{full: !isOpen}'>
      <div class="app-page">
        <router-view />
      </div>
    </main>

    <div class="fixed-action-btn" >
      <router-link class="btn-floating btn-large blue" to='/record' v-tooltip="'Add new category'">
        <i class="large material-icons">add</i>
      </router-link>
    </div>
 
  </div>
<footer class="page-footer orange">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">CRM System</h5>
                <p class="grey-text text-lighten-4">{{'Text' |localize}}</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">{{'TextMore' |localize}}</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://en.wikipedia.org/wiki/Customer_relationship_management">WiKi</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.salesforce.com/eu/learning-centre/crm/what-is-crm/">salesforce</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            ©{{ moment.lang("de").format('YYYY') }} Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Created by Alina Ravilova</a>
            </div>
          </div>
        </footer>   

        </div>
</template>


<script>
import Navbar from '@/components/app/Navbar'
import Sidebar from '@/components/app/Sidebar'
import moment from 'moment'
import messages from '@/utils/messages'

export default {
 name: 'main-layout',
 data: () => ({
   isOpen: true,
   loading: true,
  moment: moment()
 }),
  computed: {
    error() {
     return this.$store.getters.error
    },
    locale() {
      return this.$store.getters.info.locale
    }
  },
  watch: {
    error(fbError) {
     this.$error(messages[fbError.code] || 'Something gone wrong')
    },
    // locale() {
    //   console.log('Locale change')
    // }
  },
 async mounted(){
   if (!Object.keys(this.$store.getters.info).length) {
     await this.$store.dispatch('fetchInfo')
   }
   this.loading = false
 },
 components: {
Navbar, Sidebar
 } 
}
</script>
